<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('b.ico')}}">
        <title>{% block title %} Bastien Bouquin Portfolio {% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
        <script src="{{asset("build/js/app.js")}}"></script>
        {% endblock %}
    </body>
</html>
